/* Base */
/* =================================================== */

:root {
  --bs-body-color: hsl(0, 0%, 23%);
}

/*@media screen and (max-width: 425px) {*/
/*  html {*/
/*    font-size: 14px;*/
/*  }*/
/*}*/

body {
  min-width: 320px;
  min-height: 100vh;
  word-break: break-word;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* change svg color */
svg {
  fill: #666;
}

/* Custom Scrollbars
================================================= */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 #666;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #666;
}

/* Animations
================================================= */

/* fadeUp */
.fadeUp-enter {
  opacity: 0;
  transform: translateY(150px);
}

.fadeUp-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 700ms ease;
}

.fadeUp-exit {
  opacity: 1;
}

.fadeUp-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* fadeLeft */
.fadeLeft-enter {
  opacity: 0;
  transform: translateX(150px);
}

.fadeLeft-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 700ms ease;
}

.fadeLeft-exit {
  opacity: 1;
}

.fadeLeft-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* fadeSlowDown */
.fadeSlowDown-enter {
  opacity: 0;
  transform: translateY(-200px);
}

.fadeSlowDown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 1000ms ease;
}

.fadeSlowDown-exit {
  opacity: 1;
}

.fadeSlowDown-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* fadeOutDown */
.fadeOutDown-enter {
  opacity: 1;
}

.fadeOutDown-enter-active {
  opacity: 1;
}

.fadeOutDown-exit {
  opacity: 1;
  transform: translateY(0px);
}

.fadeOutDown-exit-active {
  opacity: 0;
  transform: translateY(150px);
  transition: all 500ms ease;
}
