/* Base */
/* =================================================== */

:root {
  --bs-body-color: hsl(0, 0%, 23%);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/* change svg color */
svg {
  fill: #666;
}

/* Custom Scrollbars
================================================= */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #666 #666;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
  border: 3px solid #666;
}
